<!DOCTYPE html>
@model DbKorisnik
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Naslovna clan</title>
    <link rel="stylesheet" href="css/assets3/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets3/css/sidebar-1.css">
    <link rel="stylesheet" href="css/assets3/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="css/assets3/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="css/assets3/css/sidebar.css">
    <link rel="stylesheet" href="css/assets3/css/styles.css">
</head>

<body>
    @{
        var n1 = ViewData["Novost1"] as Novost;
        var n2 = ViewData["Novost2"] as Novost;
        var n3 = ViewData["Novost3"] as Novost;
        var n4 = ViewData["Novost4"] as Novost;
        var n5 = ViewData["Novost5"] as Novost;
        var n6 = ViewData["Novost6"] as Novost;
        var n7 = ViewData["Novost7"] as Novost;
        var n8 = ViewData["Novost8"] as Novost;
        var n9 = ViewData["Novost8"] as Novost;
        var n10 = ViewData["Novost10"] as Novost;

    }
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <aside class="flex-wrap" style="width: 200px;">
                        <div class="bg-info" id="sidebar-wrapper" style="width: 200px;">
                            <ul class="sidebar-nav">
                                <li class="sidebar-brand"> <a class="text-dark" href="#">Korisničko ime</a></li>
                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="Clan" asp-action="Index">Novosti</a></li>
                                <li> <a class="text-dark" href="#">Iznajmi opremu</a></li>
                                <li> <a class="text-dark" href="#">Zauzmi opremu</a></li>
                                <li> <a href="/Clan/PrijavaTreninga/@Model.DbKorisnikID">Prijavi trening</a></li>
                                <li> <a href="/Clan/Profil/@Model.DbKorisnikID">Posjeti profil</a></li>
                                <li><a href="/Clan/Postavke/@Model.DbKorisnikID">Postavke profila</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-6 col-lg-9 col-xl-9">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n1.Naslov </h3>
                                    <p class="description">@n1.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n2.Naslov </h3>
                                    <p class="description">@n2.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n3.Naslov </h3>
                                    <p class="description">@n3.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n4.Naslov </h3>
                                    <p class="description">@n4.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n5.Naslov </h3>
                                    <p class="description">@n5.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <<a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n6.Naslov </h3>
                                    <p class="description">@n6.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n7.Naslov </h3>
                                    <p class="description">@n7.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n8.Naslov </h3>
                                    <p class="description">@n8.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n9.Naslov </h3>
                                    <p class="description">@n9.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><img class="img-fluid" src="css/assets/img/default.jpg"></a>
                                    <h3 class="name">@n10.Naslov </h3>
                                    <p class="description">@n10.Tekst</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="css/assets3/js/jquery.min.js"></script>
    <script src="css/assets3/bootstrap/js/bootstrap.min.js"></script>
    <script src="css/assets3/js/Sidebar-Menu.js"></script>
</body>

</html>
