<!DOCTYPE html>
@model Clan
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Postavke profila clan</title>
    <link rel="stylesheet" href="css/assets3/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/assets4/css/Data-Table-1.css">
    <link rel="stylesheet" href="css/assets4/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/assets3/css/sidebar-1.css">
    <link rel="stylesheet" href="css/assets3/css/Sidebar-Menu-1.css">
    <link rel="stylesheet" href="css/assets3/css/Sidebar-Menu.css">
    <link rel="stylesheet" href="css/assets3/css/sidebar.css">
    <link rel="stylesheet" href="css/assets3/css/styles.css">
</head>


<body>
    @{
        var clan = ViewData["clan"] as DbClan;
        int idClana = clan.DbClanID;
    }
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <aside class="flex-wrap" style="width: 200px;">
                        <div class="bg-info" id="sidebar-wrapper" style="width: 200px;">
                            <ul class="sidebar-nav">
                                <li class="sidebar-brand"> <a class="text-dark" href="#">Korisničko ime</a></li>
                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="Clan" asp-action="Index">Novosti</a></li>
                                <li> <a class="text-dark" href="#">Iznajmi opremu</a></li>
                                <li> <a class="text-dark" href="#">Zauzmi opremu</a></li>
                                <li> <a class="text-dark" href="#">Prijavi trening</a></li>
                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="Clan" asp-action="Profil">Posjeti profil</a></li>
                                <li> <a class="nav-link text-dark" asp-area="" asp-controller="Clan" asp-action="Postavke">Postavke</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-6 col-lg-9 col-xl-9">
                    <h1>Postavke profila</h1>
                    <div class="row">
                        <div class="col">
                            <form asp-action="Promijeni">
                                <input class="form-control" type="hidden" name="id" value="@idClana">
                                <label>Ime:</label><input class="form-control" type="text" name="ime" value="@Model.Ime">
                                <label>Prezime:</label><input class="form-control" type="text" name="prezime" value="@Model.Prezime">
                                <label>E-mail:</label><input class="form-control" type="email" name="email" value="@Model.EMail">
                                <label>Šifra:</label><input class="form-control" type="password" name="sifra" value="@Model.Sifra">
                                <label>Potvrdi šifru:</label><input class="form-control" type="password" name="ponovljenaSifra" value="@Model.Sifra">
                                <button class="btn btn-primary btn-block" type="submit">Sačuvaj promjene</button>

                            </form>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h1 class="text-center text-danger">Članarina traje do dd.mm.yyyy.!!!</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h3>Produži članarinu</h3>
                                    <p>Odaberi vrstu članarine:</p>
                                    <form asp-action="PromijeniClanarinu">
                                        <input class="form-control" type="hidden" name="id" value="@idClana">
                                        <div class="form-group">
                                            <input type="radio" name="clanarina" value="jednomjesecna" >Jednomjesečna članarina<br>
                                            <input type="radio" name="clanarina" value="tromjesecna" >Tromjesečna članarina<br>
                                            <input type="radio" name="clanarina" value="sestomjesecna" >Šestomjesečna članarina<br>
                                        </div><button class="btn btn-primary bg-info" type="submit">Nastavi dalje na plaćanje</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="css/assets4/js/jquery.min.js"></script>
    <script src="css/assets3/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="css/assets3/js/Sidebar-Menu.js"></script>
</body>

@if (ViewBag.Podaci != null)
{
    <h4>
        @ViewBag.Podaci
    </h4>
}
</html>